<mat-drawer-container class="sideBar-container" autosize>
    <div class="toolbar" role="banner">
        <div class="sideBar-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()" class="menu-button">
                <mat-icon>dehaze</mat-icon> &nbsp;
                <span>Menu</span>
            </button>
        </div>
    </div>

    <mat-drawer #drawer class="sideBar-sidenav" mode="over">
        <div class="divCard">
            <mat-card class="sideBar-card">
                <mat-card-header>
                    <div mat-card-avatar class="sideBar-header-image"></div>
                    <mat-card-title>Bem Vindo!</mat-card-title>
                    <mat-card-subtitle class="sideBar-card-subtitle">{{truck.truckName}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Olá, {{truck.ownerName}}
                    </p>
                </mat-card-content>
                <mat-slide-toggle (change)="toggleOnChange($event)" [(ngModel)]="isOpen">
                    Fechado/Aberto
                </mat-slide-toggle>
                <mat-card-actions>
                    <button mat-button (click)="logout()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="side-menu">
            <br>
            <button type="button" mat-button (click)="goToHome()">
                <mat-icon>home</mat-icon> &nbsp;
                <span>Home</span>
            </button>
            <mat-divider></mat-divider>
            <button type="button" type="button" mat-button (click)="goToMenu()">
                <mat-icon>restaurant_menu</mat-icon> &nbsp;
                <span>Meu Cardápio</span>
            </button>
            <mat-divider></mat-divider>
            <button type="button" mat-button (click)="goToLocation()">
                <mat-icon>room</mat-icon> &nbsp;
                <span>Localização Atual</span>
            </button>
        </div>

    </mat-drawer>

    <div class="food-content">
        <div class="food-form">
            <mat-card class="title-card">
                <p class="title">Adicione um novo prato:</p>
            </mat-card>
            <mat-card class="form-card">
                <div>
                    <form [formGroup]="foodForm">
                        <div class="name-price">
                            <mat-form-field appearance="outline">
                                <mat-label>Nome do Prato</mat-label>
                                <input matInput placeholder="" #documentField name="nameField"
                                    formControlName="foodName" required autocomplete="off">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-label>Preço</mat-label>
                                <input type="number" matInput placeholder="" #documentField name="priceField"
                                    formControlName="price" required autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline" class="description">
                                <mat-label>Descrição</mat-label>
                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="6" cdkAutosizeMaxRows="6" #documentField name="descriptionField"
                                    formControlName="description" required autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-raised-button (click)="registry()">Salvar</button>
                        </div>
                    </form>
                </div>
            </mat-card>
        </div>
        <div class="registred-foods">
            <div *ngIf="truck.menu; else noFood" class="foods">
                <p *ngFor="let food of truck.menu">
                    <mat-card class="food-card">
                        <mat-card-header>
                            <div mat-card-avatar class="food-header-image"></div>
                            <mat-card-title>{{food.foodName}}</mat-card-title>
                            <mat-card-subtitle>{{food.price | currency : 'BRL'}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{food.description}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </p>
            </div>
            <ng-template class="current-adress" #noFood>Nenhum endereço registrado</ng-template>
        </div>
    </div>
</mat-drawer-container>
