<mat-drawer-container class="sideBar-container" autosize>
  <div class="toolbar" role="banner">
    <div class="sideBar-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()" >
        <mat-icon>dehaze</mat-icon> &nbsp;
        <span>Menu</span>
      </button>
    </div>
  
    <form class="search-form">
      <mat-form-field class="search-full-width">
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
    </form>
  
  </div>

  <mat-drawer #drawer class="sideBar-sidenav" mode="over">
    <div class="divCard">
      <mat-card class="sideBar-card">
        <mat-card-header>
          <div mat-card-avatar class="sideBar-header-image"></div>
          <mat-card-title>Nome Usuario</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Olá, Usuario!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon>settings</mat-icon></button>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <button mat-button><mat-icon>logout</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  <br>
    <button type="button" type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>dialpad</mat-icon> &nbsp;
      <span>Meu Cardápio</span>
    </button>
  <br>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>voicemail</mat-icon> &nbsp;
      <span>Restaurantes</span>
    </button>
  <br>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>notifications_off</mat-icon> &nbsp;
      <span>Disable alerts</span>
    </button>  
  </mat-drawer>
  
  <router-outlet></router-outlet>
</mat-drawer-container>
