<div class="register-bg">
    <div class="register-card">
        <div class="register-card-content">
            <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="personalData">
                    <form [formGroup]="personalData">
                        <ng-template matStepLabel>Dados Pessoais</ng-template>
                        <mat-form-field>
                            <mat-label>Nome Completo</mat-label>
                            <input matInput placeholder="" formControlName="fullName" required autocomplete="off">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Apelido</mat-label>
                            <input matInput placeholder="" formControlName="nickName" required autocomplete="off">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>CPF</mat-label>
                            <input matInput placeholder="" formControlName="document" required autocomplete="off">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Data de Nascimento</mat-label>
                            <input type="date" matInput placeholder="" formControlName="birthDate" required autocomplete="off">
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Sexo</mat-label>
                            <mat-select formControlName="sex" required autocomplete="off">
                                <mat-option value="F">Feminino</mat-option>
                                <mat-option value="M">Masculino</mat-option>
                                <mat-option value="N">Não Binário</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="acessData">
                    <form [formGroup]="acessData">
                        <ng-template matStepLabel>Dados de Acesso</ng-template>
                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input matInput placeholder="" formControlName="email" required autocomplete="off">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Senha</mat-label>
                            <input type="password" matInput placeholder="" formControlName="password" required
                                autocomplete="off">
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary" matStepperPrevious>Voltar</button> &nbsp;
                            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Confirmar Dados</ng-template>
                    <p><strong>Nome Completo:</strong> {{personalData.get('fullName').value}}</p>
                    <p><strong>CPF:</strong> {{personalData.get('document').value}}</p>
                    <p><strong>Data de Nascimento:</strong> {{personalData.get('birthDate').value | date:'dd/MM/yyyy'}}<p>
                    <p><strong>Sexo:</strong> {{sex[personalData.get('sex').value]}}<p>
                    <p>Tudo certo?</p>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious>Não, voltar</button> &nbsp;
                        <button mat-raised-button color="primary" (click)="submit()">Sim, finalizar</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>
</div>
