<mat-drawer-container class="sideBar-container" autosize>
    <div class="toolbar" role="banner">
        <div class="sideBar-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()" class="menu-button">
                <mat-icon>dehaze</mat-icon> &nbsp;
                <span>Menu</span>
            </button>
        </div>
    </div>

    <mat-drawer #drawer class="sideBar-sidenav" mode="over">
        <div class="divCard">
            <mat-card class="sideBar-card">
                <mat-card-header>
                    <div mat-card-avatar class="sideBar-header-image"></div>
                    <mat-card-title>Bem Vindo!</mat-card-title>
                    <mat-card-subtitle class="sideBar-card-subtitle">{{truck.truckName}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Olá, {{truck.ownerName}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <button mat-button (click)="logout()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="side-menu">
            <br>
            <button type="button" type="button" mat-button (click)="goToMenu()">
                <mat-icon>restaurant_menu</mat-icon> &nbsp;
                <span>Meu Cardápio</span>
            </button>
            <mat-divider></mat-divider>
            <button type="button" mat-button (click)="goToLocation()">
                <mat-icon>room</mat-icon> &nbsp;
                <span>Localização Atual</span>
            </button>
            <mat-divider></mat-divider>
            <button type="button" mat-button (click)="goToSchedules()">
                <mat-icon>schedule</mat-icon> &nbsp;
                <span>Horario de Funcionamento</span>
            </button>
            <mat-divider></mat-divider>
            <button type="button" mat-button (click)="goToRating()">
                <mat-icon>star</mat-icon> &nbsp;
                <span>Nota do Truck</span>
            </button>
        </div>

    </mat-drawer>
    <div class="location-content">
        <div class="adress-form">
            <p class="title">Onde você estara hoje?</p>

            <form [formGroup]="adressForm">
                <mat-form-field>
                    <mat-label>Rua</mat-label>
                    <input matInput placeholder="" formControlName="street" required autocomplete="off">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Number</mat-label>
                    <input matInput placeholder="" formControlName="number" required autocomplete="off">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input matInput placeholder="" formControlName="neighborhood" required autocomplete="off">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input matInput placeholder="" formControlName="city" required autocomplete="off">
                </mat-form-field>
                <div>
                    <button mat-raised-button (click)="search()">Procurar</button>
                </div>
            </form>

        </div>
        <div class="current-adress">
            <div *ngIf="truck.location; else noAdress">
                <p>Rua</p>
                <span>{{truck.location.street}}</span>
                <p>Number:</p>
                <span>{{truck.location.number}}</span>
                <p>Bairro:</p>
                <span>{{truck.location.neighborhood}}</span>
                <p>Cidade:</p>
                <span>{{truck.location.city}}</span>
                <p>Estado:</p>
                <span>{{truck.location.uf}}</span>
            </div>
            <ng-template class="current-adress" #noAdress>Nenhum endereço registrado</ng-template>
        </div>
    </div>

</mat-drawer-container>
